<html>
    <a href="{% url 'show' %}">[..Home..]</a>
    <a href="{% url 'cart'%}">[..Cart page..]</a>
    <a href="{% url 'wish_list' %}">[..Wish list..]</a>
    <button><a href="{% url 'logout' %}">logout</a></button> 
<title>orders</title>

<body>

    <center>
        <h1>My Orders</h1>
        <table>



            <tr>
                {{message}}
                {% for j in data %}
                
                <td><img src="{{ j.product.image.url}}" , width="300px"></td>
                <td>

                    <p>

                        Product: {{j.product.name}} <br>
                        price :{{j.product.price}}<br>
                        quantity: {{j.quantity}}<br>
                        Order status : {{order_product.order_status}}<br>
                        <a href="{% url 'cancel_order' j.id%}"><button>Cancel order</button></a>

                </td>

            </tr>
            {% endfor %}

        </table>

        <p>Your orders price : {{price}}</p>
        <p>taxes added(18%) : + {{tax}}</p><hr>
        <h2 style="color: green;">total price : Rs {{tax_price}}</h2>
        <button> Comtinue and pay </button>
    </center>

</body>

</html>