<html>

    <title>Search you want</title>
    <a href="{% url 'show' %}">[..Home..]</a>
    <a href="{% url 'cart'%}">[..Cart page..]</a>
    <a href="{% url 'orders' %}">[..My Orders..]</a>
    <a href="{% url 'wish_list' %}">[..Wish list..]</a>
    <button><a href="{% url 'logout' %}">logout</a></button> 

    <center>
    <h1>Ecart</h1>
    <button><a href="{% url 'logout' %}">logout</a></button>    
    <br>
<form method="post">
    {% csrf_token %}  
    <br>
    <input type="text" , name="need">
    <button><a>Search</a></button>
</form>
    <br>
    <br>
   
   <table>
     {% for i in data %}
     {% if i.in_stock > 0 %}
    <tr>
        <th><h1>{{i.name}}</h1></th>
    </tr>
    <tr>
        
        <td><img src="{{i.image.url}}", width="300px"></td>
        <td><a href="">{{i.name}}
               </a><br>{{i.title}}<br>
               Rs {{i.price}}<br>
               total stocks {{i.in_stock}}<br>
               <a href="{% url 'add_to_cart' i.id %}"><button>Add to cart</button></a></td>
    </tr>
     {% endif %}
    {% endfor %}
</table>
</center>
</html>