<html>
    <a href="{% url 'show' %}">[..Home..]</a>
    <a href="{% url 'cart'%}">[..Cart page..]</a>
    <a href="{% url 'orders' %}">[..My Orders..]</a>
    <button><a href="{% url 'logout' %}">logout</a></button> 
<title>
    wish list
</title>
<center>
<body>
    <h1>Wish list</h1>
    <table>
        {% for fav in wish_list %}
        <tr>
           
            <td> <h3>{{fav.name}}</h3><br>
                <img src="{{fav.image.url}}" width="200px"></td>
        <td>{{fav.title}}<br>
        {{fav.price}}<br>
        {{fav.in_stock}}<br>
        <a href="{% url 'add_to_cart' fav.id %}"><button>Add to cart</button></a>
    </td>
        {% endfor %}
        </tr>
    </table>
 
</body>
</center>
</html>